@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satisfy';
  src: url('/fonts/Satisfy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'STIX Two Text';
  src: url('/fonts/STIXTwoText-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Adjust weight range if necessary */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Satisfy', serif;
}
.task-menu::-webkit-scrollbar,
.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-content, .task-menu {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}


.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinner[type="number"] {
    -moz-appearance: textfield;
}


.radio-hidden {
  display: none;
}

.radio-custom {
  width: 1.25rem; 
  height: 1.25rem; 
  border: 2px solid #d1d5db; 
  border-radius: 9999px; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.radio-custom::after {
  content: '';
  width: 0.75rem; 
  height: 0.75rem; 
  background-color: #3b82f6; 
  border-radius: 9999px; 
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.radio-hidden:checked + .radio-custom::after {
  opacity: 1;
}

