@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satisfy';
  src: url('/Satisfy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'STIX Two Text';
  src: url('/STIXTwoText-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Adjust weight range if necessary */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Satisfy', serif;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}